.App {
  text-align: center;
  color: #0cf011;
  background-color: #2d2d2d;
}

.App-cursor {
  animation: blinker steps(1) 500ms infinite alternate;
}

@keyframes blinker {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
